[submodule "emparser"]
	path = emparser
	url = https://github.com/mimosa-project/emparser.git
[submodule "emwiki/emwiki-mmlfiles"]
	path = emwiki/emwiki-mmlfiles
	url = https://github.com/mimosa-project/emwiki-mmlfiles.git
